includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: 6

    ignoreErrors:
        -
            message: '#PHPDoc tag @throws with type [a-zA-Z0-9\\_|]*Psr\\SimpleCache\\InvalidArgumentException is not subtype of Throwable#'

    checkMissingIterableValueType: false
